@import 'variables';


/* Reset Basic Elements
 * ============================================== */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/* Basic Styling
 * ============================================== */
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color !important;
  -webkit-text-size-adjust: 100%;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><filter id="shadow"><feDropShadow dx="1" dy="1" stdDeviation="1" flood-opacity="0.5"/></filter></defs><path fill="white" stroke="black" stroke-width="0.5" filter="url(%23shadow)" d="M3 3l7.07 16.97 2.51-7.39 7.39-2.51L3 3z"/></svg>') 8 8, auto;
  // transition: background-color 0.5s, color 0.5s;
}

/* Set Margin Bottom for Vertical Rhythm
 * ============================================== */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/* Images and Figures
 * ============================================== */
img {
  max-width: 100%;
  vertical-align: middle;
  margin: auto;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #021a40;
}

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/* Lists
 * ============================================== */
ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/* Headers
 * ============================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 0px;
}

h1 {
  font-size: 1.9em !important;
}
h2 {
  font-size: 1.5em !important;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.9em;
}
h6 {
  font-size: 0.8em;
}

/* Links
 * ============================================== */
a {
  color: darken($brand-color, 5%);
  text-decoration: none;

  &:hover {
    color: $brand-color;
    text-decoration: none;
  }
}

.post-suffix-cta { 
  color: gray;
}

.post-suffix-link {
  color: #222222;
}

/* Block Quotes
 * ============================================== */
blockquote {
  color: #9e9e9e;
  border-left: 4px solid $brand-color;
  padding-left: $spacing-unit / 2;
  font-size: 17px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/* Code Blocks
 * ============================================== */
pre,
code {
  font-size: 13px;
  border: 1px solid $grey-color-light;
  font-family: Monaco, Monospace, "Andale Mono", serif;
}

code {
  padding: 1px 3px;
  background-color: #fff;
  border-radius: 5px;
}

pre {
  border-radius: 3px;
  padding: 8px 12px;
  overflow-x: scroll;
  background-color: #f5f5f5;

  > code {
    background-color: #f5f5f5;
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/* Wrapper
 * ============================================== */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

/* Clear Fix
 * ============================================== */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* TABLES
 * =============================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:not(.highlight) > table {
  margin: 0 auto 1.5em auto;
}

:not(.highlight) > table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

:not(.highlight) > table tr th,
:not(.highlight) > table tr td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

:not(.highlight) > table tr th {
  font-weight: bold;
}

:not(.highlight) > table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.searchBox {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  transition: all 300ms ease;
  border: 1px #e3e3e3 solid;
  border-radius: 30px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: block;
  padding: 10px 45px;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
 .fontawesome-icon {
  color: black;
}

/* Dark Mode
 * ============================================== */
body.dark-mode {
  color: $dark-primary-text-color;
  background-color: $dark-background-color !important;

  .gist {
    filter: invert(1) hue-rotate(180deg) brightness(1);
    }
}

.post-suffix-cta { 
  color: $dark-secondary-text-color;
}

body.dark-mode a {
  color: darken($brand-color, 5%);

  &:hover {
    color: $brand-color;
  }
}

body.dark-mode .post-link {
  color: $dark-primary-text-color;

  &:hover {
    color: $brand-color;
  }
}

body.dark-mode .page-heading {
  color: $dark-primary-text-color;
}

body.dark-mode blockquote {
  color: $dark-secondary-text-color;
  border-left-color: $brand-color;
}

body.dark-mode pre,
body.dark-mode code {
  background-color: $dark-secondary-background-color;
  color: $dark-primary-text-color;
  border-color: $dark-divider-color;
}

body.dark-mode table {
  background-color: $dark-secondary-background-color;
  color: $dark-primary-text-color;
  border-color: $dark-divider-color;
}

// body.dark-mode .highlight {
//   background-color: $dark-hover-highlight-color;
//   color: $dark-primary-text-color;
// }

body.dark-mode .year {
  color: $brand-color;
}

body.dark-mode .fontawesome-icon {
  color: $dark-primary-text-color;
}

body.dark-mode .fa-coffee {
  color: #E5C604;
}

/* Toggle Button
 * ============================================== */
.toggle-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: $text-color;
  z-index: 1000;

  &:focus {
    outline: none;
  }
}

body.dark-mode .toggle-button {
  color: $dark-primary-text-color;
}
