$dark-background-color: #121212;
$dark-secondary-background-color: #1E1E1E;

$dark-primary-text-color: #E0E0E0;
$dark-secondary-text-color: #CCCCCC;
$dark-muted-text-color: #808080;

$dark-divider-color: #292929;
$dark-hover-highlight-color: #333333;
